In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sna

In [2]:
pd.read_csv('../data/gdp_percapita.csv')

     Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2023  1992.424394              NaN
1        Afghanistan  2022  1981.710168              NaN
2        Afghanistan  2021  2144.166570              NaN
3        Afghanistan  2020  2769.685745              NaN
4        Afghanistan  2019  2927.245144              NaN
...              ...   ...          ...              ...
8214        Zimbabwe  1994  3965.730986              NaN
8215        Zimbabwe  1993  3634.750494              NaN
8216        Zimbabwe  1992  3649.891947              NaN
8217        Zimbabwe  1991  4126.405247              NaN
8218        Zimbabwe  1990  4013.299059              NaN

[8219 rows x 4 columns]

#4 Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df.
#Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [3]:
gdp_df=pd.read_csv('../data/gdp_percapita.csv')
print (gdp_df)

     Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2023  1992.424394              NaN
1        Afghanistan  2022  1981.710168              NaN
2        Afghanistan  2021  2144.166570              NaN
3        Afghanistan  2020  2769.685745              NaN
4        Afghanistan  2019  2927.245144              NaN
...              ...   ...          ...              ...
8214        Zimbabwe  1994  3965.730986              NaN
8215        Zimbabwe  1993  3634.750494              NaN
8216        Zimbabwe  1992  3649.891947              NaN
8217        Zimbabwe  1991  4126.405247              NaN
8218        Zimbabwe  1990  4013.299059              NaN

[8219 rows x 4 columns]

#5 How many rows and columns are in gdp_df? What are the data types of each column?

In [4]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8219 entries, 0 to 8218
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  8219 non-null   object
 1   Year             8219 non-null   int64
 2   Value            8219 non-null   float64
 3   Value Footnotes  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 257.0+ KB

#6 Drop the Value Footnotes column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [5]:
gdp_df = gdp_df.drop(columns = ['Value Footnotes'])
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8219 entries, 0 to 8218
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  8219 non-null   object
 1   Year             8219 non-null   int64
 2   Value            8219 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 192.8+ KB

In [6]:
gdp_df = gdp_df.rename(columns={"Country or Area":"Country","Value":"GDP_Per_Capita"})
gdp_df.info()
print (gdp_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8219 entries, 0 to 8218
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         8219 non-null   object
 1   Year            8219 non-null   int64
 2   GDP_Per_Capita  8219 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 192.8+ KB
          Country  Year  GDP_Per_Capita
0     Afghanistan  2023     1992.424394
1     Afghanistan  2022     1981.710168
2     Afghanistan  2021     2144.166570
3     Afghanistan  2020     2769.685745
4     Afghanistan  2019     2927.245144
...           ...   ...             ...
8214     Zimbabwe  1994     3965.730986
8215     Zimbabwe  1993     3634.750494
8216     Zimbabwe  1992     3649.891947
8217     Zimbabwe  1991     4126.405247
8218     Zimbabwe  1990     4013.299059

[8219 rows x 3 columns]

7 How many countries have data for all years? Which countries are missing many years of data?
#Look at the number of observations per year. What do you notice?

In [8]:
print(min(gdp_df.Year))
print(max(gdp_df.Year))

1990
2023

In [9]:
range_of_years=(max(gdp_df.Year)-min(gdp_df.Year))
print(range_of_years )

33

In [10]:
countries = gdp_df.groupby('Country')['Year'].count().reset_index()

In [12]:
countries.max()

Country    Zimbabwe
Year             34
dtype: object

In [14]:
countries[countries['Year'] == 34].count()

Country    228
Year       228
dtype: int64

In [15]:
countries[countries['Year']<34].count()

Country    19
Year       19
dtype: int64

In [17]:
countries_missing_data=countries[countries['Year']<34]

In [18]:
countries_missing_data.info

<bound method DataFrame.info of                        Country  Year
0                  Afghanistan    24
23                      Bhutan    33
37              Cayman Islands    18
48                    CuraÃ§ao    24
54                    Djibouti    11
73               Faroe Islands    16
83                   Greenland    32
115                     Kosovo    16
125                    Lebanon    33
152                 Montenegro    27
188                 San Marino    26
191                     Serbia    29
195  Sint Maarten (Dutch part)    15
200                    Somalia    33
216       Syrian Arab Republic    33
225                      Tonga    33
229   Turks and Caicos Islands    13
242             Virgin Islands    21
243         West Bank and Gaza    30>

8. In this question, you're going to create some plots to show the distribution of GDP per capita for the year 2020.
Go to the Python Graph Gallery (https://www.python-graph-gallery.com/) and look at the different types of plots under the Distribution section.
Create a histogram, a density plot, a boxplot, and a violin plot. What do you notice when you look at these plots? How do the plots compare 
and what information can you get out of one type that you can't necessarily get out of the others?